## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [6]:
import os
import numpy as np
import pandas as pd

In [7]:
# 設定 data_path
dir_data =r'C:\Users\Song\Desktop\day4\data\application_train.csv'

In [8]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(r'C:\Users\Song\Desktop\day4\data\application_train.csv')

Path of read in data: C:\Users\Song\Desktop\day4\data\application_train.csv\application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [9]:
#資料的 row 數以及 column 數 (rows,columns)
app_train.shape

(307511, 122)

#### 列出所有欄位

In [12]:
#列出所有欄位
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [14]:
#截取部分資料
app_train[['NAME_CONTRACT_TYPE','CODE_GENDER', 'NAME_INCOME_TYPE']]

       NAME_CONTRACT_TYPE CODE_GENDER      NAME_INCOME_TYPE
0              Cash loans           M               Working
1              Cash loans           F         State servant
2         Revolving loans           M               Working
3              Cash loans           F               Working
4              Cash loans           M               Working
5              Cash loans           M         State servant
6              Cash loans           F  Commercial associate
7              Cash loans           M         State servant
8              Cash loans           F             Pensioner
9         Revolving loans           M               Working
10             Cash loans           F               Working
11             Cash loans           F             Pensioner
12             Cash loans           F               Working
13             Cash loans           M               Working
14             Cash loans           F               Working
15             Cash loans           M               Working
16             Cash loans           M               Working
17        Revolving loans           F               Working
18        Revolving loans           F               Working
19             Cash loans           F         State servant
20        Revolving loans           M               Working
21             Cash loans           F  Commercial associate
22             Cash loans           F               Working
23             Cash loans           F             Pensioner
24             Cash loans           M               Working
25             Cash loans           F               Working
26             Cash loans           F               Working
27             Cash loans           M               Working
28             Cash loans           M         State servant
29        Revolving loans           M               Working
...                   ...         ...                   ...
307481         Cash loans           M               Working
307482         Cash loans           F  Commercial associate
307483         Cash loans           F             Pensioner
307484         Cash loans           F  Commercial associate
307485    Revolving loans           F               Working
307486         Cash loans           F  Commercial associate
307487         Cash loans           M             Pensioner
307488         Cash loans           F         State servant
307489         Cash loans           F  Commercial associate
307490         Cash loans           M  Commercial associate
307491         Cash loans           M  Commercial associate
307492         Cash loans           M               Working
307493         Cash loans           F               Working
307494         Cash loans           M  Commercial associate
307495         Cash loans           M               Working
307496    Revolving loans           F               Working
307497         Cash loans           F               Working
307498         Cash loans           M  Commercial associate
307499         Cash loans           F  Commercial associate
307500         Cash loans           F               Working
307501         Cash loans           F  Commercial associate
307502         Cash loans           F               Working
307503         Cash loans           F  Commercial associate
307504         Cash loans           F               Working
307505         Cash loans           F             Pensioner
307506         Cash loans           M               Working
307507         Cash loans           F             Pensioner
307508         Cash loans           F               Working
307509         Cash loans           F  Commercial associate
307510         Cash loans           F  Commercial associate

[307511 rows x 3 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [30]:
#在CONTRACT_TYPE、INCOME_TYPE下其他資料(AMT_INCOME)的關係
app_train.groupby(['NAME_CONTRACT_TYPE', 'NAME_INCOME_TYPE']).mean()

                                            SK_ID_CURR    TARGET  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate  278413.318513  0.078395
                   Maternity leave       395252.500000  1.000000
                   Pensioner             278527.945146  0.054661
                   State servant         278602.512250  0.059891
                   Student               239290.866667  0.000000
                   Unemployed            260136.933333  0.533333
                   Working               277788.286472  0.099433
Revolving loans    Businessman           275396.900000  0.000000
                   Commercial associate  277468.897928  0.046453
                   Maternity leave       275371.000000  0.000000
                   Pensioner             277860.665776  0.041555
                   State servant         282151.613283  0.032673
                   Student               347614.333333  0.000000
                   Unemployed            242265.714286  0.000000
                   Working               279099.684335  0.064341

                                         CNT_CHILDREN  AMT_INCOME_TOTAL  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate      0.452822     202216.135431
                   Maternity leave           2.000000      58500.000000
                   Pensioner                 0.045160     135837.972714
                   State servant             0.532113     180619.920608
                   Student                   0.600000     151200.000000
                   Unemployed                0.133333      63120.000000
                   Working                   0.506877     164801.849705
Revolving loans    Businessman               0.100000     652500.000000
                   Commercial associate      0.468801     208862.551412
                   Maternity leave           1.000000     195000.000000
                   Pensioner                 0.060255     145094.873108
                   State servant             0.635779     170367.652384
                   Student                   0.333333     267000.000000
                   Unemployed                0.285714     212142.857143
                   Working                   0.562753     148662.771937

                                           AMT_CREDIT   AMT_ANNUITY  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate  7.051797e+05  31756.329895
                   Maternity leave       9.292500e+05  26091.000000
                   Pensioner             5.557286e+05  24344.310023
                   State servant         7.016298e+05  30008.392149
                   Student               5.589450e+05  27525.600000
                   Unemployed            8.601000e+05  28278.300000
                   Working               6.095852e+05  27853.671943
Revolving loans    Businessman           1.228500e+06  72675.000000
                   Commercial associate  3.880819e+05  19698.305085
                   Maternity leave       6.300000e+05  44250.000000
                   Pensioner             3.391028e+05  17049.643811
                   State servant         3.318479e+05  16712.908409
                   Student               2.700000e+05  13500.000000
                   Unemployed            5.592857e+05  27964.285714
                   Working               2.874464e+05  14394.534413

                                         AMT_GOODS_PRICE  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate     6.297076e+05
                   Maternity leave          9.292500e+05
                   Pensioner                4.976378e+05
                   State servant            6.272619e+05
                   Student                  4.959000e+05
                   Unemployed               8.601000e+05
                   Working                  5.433499e+05
Revolving loans    Businessman              1.228500e+06
                   Commercial associate     3.899309e+05
                   Maternity leave          6.300000e+05
                   Pensioner                3.408622e+05
                   State servant            3.352427e+05
                   Student                  2.700000e+05
                   Unemployed               5.592857e+05
                   Working                  2.886734e+05

                                         REGION_POPULATION_RELATIVE  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate                    0.024367
                   Maternity leave                         0.019090
                   Pensioner                               0.020679
                   State servant                           0.020002
                   Student                                 0.021237
                   Unemployed                              0.018532
                   Working                                 0.019262
Revolving loans    Businessman                             0.030942
                   Commercial associate                    0.026463
                   Maternity leave                         0.026084
                   Pensioner                               0.021828
                   State servant                           0.021674
                   Student                                 0.023582
                   Unemployed                              0.028236
                   Working                                 0.019875

                                           DAYS_BIRTH  DAYS_EMPLOYED  ...  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE                                   ...
Cash loans         Commercial associate -14797.367985   -2148.721297  ...
                   Maternity leave      -13742.000000   -3324.500000  ...
                   Pensioner            -21843.650665  365243.000000  ...
                   State servant        -15150.131176   -3490.940613  ...
                   Student              -14505.800000   -2213.400000  ...
                   Unemployed           -17355.200000  365243.000000  ...
                   Working              -14836.144697   -2381.003819  ...
Revolving loans    Businessman          -16071.900000   -2874.300000  ...
                   Commercial associate -14057.290647   -1973.861896  ...
                   Maternity leave      -15542.666667   -2178.333333  ...
                   Pensioner            -21322.016325  364144.190858  ...
                   State servant        -14344.158007   -3025.151580  ...
                   Student              -13321.666667   -3902.000000  ...
                   Unemployed           -13721.571429  365243.000000  ...
                   Working              -13989.795017   -2105.266334  ...

                                         FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate          0.012867          0.000943
                   Maternity leave               0.000000          0.000000
                   Pensioner                     0.000385          0.000077
                   State servant                 0.016082          0.000605
                   Student                       0.000000          0.000000
                   Unemployed                    0.000000          0.000000
                   Working                       0.008163          0.000708
Revolving loans    Businessman                   0.000000          0.000000
                   Commercial associate          0.008663          0.000251
                   Maternity leave               0.000000          0.000000
                   Pensioner                     0.000000          0.000000
                   State servant                 0.009641          0.000536
                   Student                       0.000000          0.000000
                   Unemployed                    0.000000          0.000000
                   Working                       0.005606          0.000187

                                         FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate          0.000880          0.000000
                   Maternity leave               0.000000          0.000000
                   Pensioner                     0.000019          0.000000
                   State servant                 0.000555          0.000000
                   Student                       0.000000          0.000000
                   Unemployed                    0.000000          0.000000
                   Working                       0.000617          0.000007
Revolving loans    Businessman                   0.000000          0.000000
                   Commercial associate          0.000000          0.003515
                   Maternity leave               0.000000          0.000000
                   Pensioner                     0.000000          0.000000
                   State servant                 0.000000          0.003214
                   Student                       0.000000          0.000000
                   Unemployed                    0.000000          0.000000
                   Working                       0.000000          0.004235

                                         AMT_REQ_CREDIT_BUREAU_HOUR  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate                    0.006870
                   Maternity leave                              NaN
                   Pensioner                               0.005425
                   State servant                           0.008964
                   Student                                 0.000000
                   Unemployed                                   NaN
                   Working                                 0.006154
Revolving loans    Businessman                             0.000000
                   Commercial associate                    0.006629
                   Maternity leave                         0.000000
                   Pensioner                               0.007524
                   State servant                           0.010309
                   Student                                 0.000000
                   Unemployed                              0.000000
                   Working                                 0.005808

                                         AMT_REQ_CREDIT_BUREAU_DAY  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate                   0.008193
                   Maternity leave                             NaN
                   Pensioner                              0.007189
                   State servant                          0.008964
                   Student                                0.000000
                   Unemployed                                  NaN
                   Working                                0.006471
Revolving loans    Businessman                            0.000000
                   Commercial associate                   0.004670
                   Maternity leave                        0.000000
                   Pensioner                              0.005814
                   State servant                          0.007277
                   Student                                0.000000
                   Unemployed                             0.000000
                   Working                                0.005154

                                         AMT_REQ_CREDIT_BUREAU_WEEK  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate                    0.036017
                   Maternity leave                              NaN
                   Pensioner                               0.036391
                   State servant                           0.036807
                   Student                                 0.000000
                   Unemployed                                   NaN
                   Working                                 0.034505
Revolving loans    Businessman                             0.000000
                   Commercial associate                    0.026213
                   Maternity leave                         0.000000
                   Pensioner                               0.024966
                   State servant                           0.017586
                   Student                                 0.000000
                   Unemployed                              0.000000
                   Working                                 0.024682

                                         AMT_REQ_CREDIT_BUREAU_MON  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate                   0.352632
                   Maternity leave                             NaN
                   Pensioner                              0.201692
                   State servant                          0.293725
                   Student                                0.166667
                   Unemployed                                  NaN
                   Working                                0.257599
Revolving loans    Businessman                            0.000000
                   Commercial associate                   0.284122
                   Maternity leave                        0.000000
                   Pensioner                              0.182969
                   State servant                          0.232868
                   Student                                0.333333
                   Unemployed                             0.000000
                   Working                                0.207405

                                         AMT_REQ_CREDIT_BUREAU_QRT  \
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate                   0.270954
                   Maternity leave                             NaN
                   Pensioner                              0.293519
                   State servant                          0.243585
                   Student                                0.000000
                   Unemployed                                  NaN
                   Working                                0.267009
Revolving loans    Businessman                            0.000000
                   Commercial associate                   0.206538
                   Maternity leave                        0.000000
                   Pensioner                              0.258208
                   State servant                          0.189812
                   Student                                0.000000
                   Unemployed                             0.200000
                   Working                                0.206388

                                         AMT_REQ_CREDIT_BUREAU_YEAR
NAME_CONTRACT_TYPE NAME_INCOME_TYPE
Cash loans         Commercial associate                    1.915911
                   Maternity leave                              NaN
                   Pensioner                               2.094282
                   State servant                           1.746106
                   Student                                 0.833333
                   Unemployed                                   NaN
                   Working                                 1.906415
Revolving loans    Businessman                             0.500000
                   Commercial associate                    1.474541
                   Maternity leave                         0.000000
                   Pensioner                               2.191176
                   State servant                           1.437841
                   Student                                 0.666667
                   Unemployed                              0.400000
                   Working                                 1.546933

[15 rows x 106 columns]